{% extends 'base.html' %}

{% block title %}Welcome - Snipe-IT Asset Checker{% endblock %}

{% block content %}
    <h1 class="title">Welcome to the Simple Snipe-IT Asset Checker</h1>
    <p class="subtitle"></p>
    <form method="GET" action="{% url 'user_asset_view' %}">
        <div class="block control">
            {% csrf_token %}
            {{ form.as_div }}
        </div>
        <div class="block level">
            <div class="level-item has-text-centered">
                <button type="submit" class="button is-large is-primary">View My Assets</button>
            </div>
        </div>
    </form>
{% endblock %}
