{% extends 'base.html' %}

{% block title %}Unassign Asset from {{ user_context.name|default:user_context.username|default_if_none:"User" }}{% endblock %}

{% block content %}
    <div class="block">
        <h1 class="title">Unassign Asset</h1>
        <p class="subtitle">
            <strong class="has-text-danger">Enter the asset tag of the item you wish to check in (unassign).</strong>
        </p>

        <form method="post" action="{% url 'unassign_asset_by_tag' user_id=user_id %}">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="notification is-danger">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="field">
                <div class="control">
                    {{ form.as_div }}
                </div>
                {% if form.asset_tag.help_text %}
                    <p class="help">{{ form.asset_tag.help_text }}</p>
                {% endif %}
                {% for error in form.asset_tag.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="block level">
                <div class="level-item has-text-centered">
                    <button type="submit" class="button is-danger">Unassign Asset by Tag</button>
                </div>
            </div>
        </form>
    </div>

    <div class="block level">
        <div class="level-item has-text-left">
             <a href="{% url 'index' %}">Back to Home</a>
        </div>
        <div class="level-item has-text-right">
            <a href="{% url 'user_asset_view' %}?employee_number={{ user_context.employee_number }}">Back to My Asset List</a>
        </div>
    </div>

{% endblock %}
